/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	padding: 0px;
	background-color: #2A4F6E;
	color: white;
	font-family:"Ojuju", sans-serif;
	
	
}


#container {
	

	padding: 20px;
	background: #123552;
}
header{
	font-size: 2.5em;
	font-family: "Ojuju", sans-serif;
	text-align: center;
}
#paragraphOne{
	padding: 20px;
	margin-top: 5%;
	background-color: #123552;
	
}
#me{
	padding: 25px;
	margin-top: -5%;
	
}











/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	body{
		padding: 20px;
		font-family:"Ojuju", sans-serif;
		background-color: #2A4F6E;
	}
	#container{
		margin: auto;
		padding: auto;
	}
	#paragraphOne{
		padding: auto;
		float: left;
		width: 500px;
		
	}
	#me{
		padding: auto;
		float: right;
		width: 400px;
		
		
	}
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	body{
		padding: 25px;
		font-family:"Ojuju", sans-serif; 
		color: white;
		background-color: #2A4F6E;
	}
	#container{
		padding: 25px;
	}
	#paragraphOne{
		padding: 25px;
		float:left ;
		width: 700px;
		font-size: 1.35em;
	}
	#me{
		padding: 25px;
		float:right ;
		width: 700px;
		font-size: 1.35em;
		
	}
	
	
	
} /* closes 1024px+ */



