/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	background: #8b1e1e;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	padding: 15px;
	width: 300px;
	margin: auto;
	font-family: "IBM Plex Serif";
	color: #000000;
	
	
}


#container {
	background: #2a3439 ;
	padding: 10px;
	margin: auto;
}

header{
	font-family:"Rubik Dirt";
	text-align: center;
	font-size: 200%;
	padding: 20px
	
	
}
.Image{
	margin-left: 25px;
}












/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	header{
		margin-top: 15px;
		


	}
	main{
		display: flex;
	}
	body{
		width: 700px;
	}
	section{
		padding: 15px;
		width: 500px;
		margin: auto;
		font-size: 1.35em;
		border-width: 2px;
		border-style: solid;
		border-color: #8b1e1e;

	}
	.button-container{
		display: flex;
		justify-content: center;
		border: 2px solid #8b1e1e;
	}
	.buttonrow{
		display: flex;
		margin-right: 10px;
	}
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	header{
		margin-top: 15px;


	}
	main{
		display: flex;
	}
	body{
		width: 1800px;
	}
	section{
		padding: 15px;
		width: 700px;
		margin: auto;
		font-size: 2.3em;
		line-height: 110%;
		border-width: 2px;
		border-style: solid;
		border-color: #8b1e1e;
		
		
		
		

	}
	.button-container{
		display: flex;
		justify-content: center;
		border: 2px solid #8b1e1e;
	}
	.buttonrow{
		display: flex;
		margin-right: 10px;
		
	}
	
	
	
	
	
} /* closes 1024px+ */



